<%- include('header') %>
      <div class="row mb-5">
        <div class="col-6">
          <h4><%= title %></h4>

          <table class="table">
            <% users.forEach(user => { %>
            <tr>
              <td><%= user.id _%></td>
              <td><%= user.name _%></td>
              <td><%= user.age _%></td>
            </tr>
            <% }); %>
          </table>
        </div>
        <div class="col-6">
          <img src="images/parcel.png" alt="Parcel Image">
        </div>
      </div>
<%- include('footer') %>

    <!-- <%# const items = ['A', 'B', 'C'] %>
    <ul>
      <%# items.forEach(item => { %>
      <li><%#= item _%></li>
      <%# }); %>
    </ul>

    <%# if(message){ %>
    <p><%#= message %></p>
    <%# } else { %>
    <span>No message to show.</span>
    <%# } %>
