<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>

    <table border="1" width="500px">
      <% users.forEach(user => { %>
      <tr>
        <td><%= user.id _%></td>
        <td><%= user.name _%></td>
        <td><%= user.age _%></td>
      </tr>
      <% }); %>
    </table>

    <%# const items = ['A', 'B', 'C'] %>
    <ul>
      <% items.forEach(item => { %>
      <li><%= item _%></li>
      <% }); %>
    </ul>

    <% if(message){ %>
    <p><%= message %></p>
    <% } else { %>
    <span>No message to show.</span>
    <% } %>
  </body>
</html>
