<%- include('../partials/header', { title: 'Edit Contact' }) %>

<div class="card">
  <h2>Edit Contact</h2>

  <form action="/edit/<%= contact._id %>?_method=PUT" method="post">
    <input name="firstName" value="<%= contact.firstName %>" required /><br />
    <input name="lastName" value="<%= contact.lastName %>" required /><br />
    <input name="phone" value="<%= contact.phone %>" required /><br />
    <textarea name="address"><%= contact.address %></textarea>

    <button class="btn btn_primary">Update</button>
  </form>
</div>

<%- include('../partials/footer') %>
