<%- include('../partials/header', { title: 'All Contacts' }) %>

<div class="card">
  <div style="display: flex; justify-content: space-between; margin-bottom: 15px">
    <h2>All Contacts</h2>
    <a href="/create" class="btn btn_primary">Add Contact</a>
  </div>

  <table>
    <tr>
      <th>#</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Phone Number</th>
      <th>Actions</th>
    </tr>

    <% if (contacts.length === 0) { %>
    <tr>
      <td colspan="5" style="text-align: center">No contacts found</td>
    </tr>
    <% } else { contacts.forEach((contact, index) => { %>
    <tr>
      <td><%= (currentPage - 1) * limit + index + 1 %></td>
      <td><%= contact.firstName %></td>
      <td><%= contact.lastName %></td>
      <td><%= contact.phone %></td>
      <td class="actions">
        <a href="/view/<%= contact._id %>" class="btn btn_secondary">View</a>
        <a href="/edit/<%= contact._id %>" class="btn btn_primary">Edit</a>
        <form
          action="/delete/<%= contact._id %>?_method=DELETE"
          method="post"
          style="display: inline"
        >
          <button class="btn btn_danger">Delete</button>
        </form>
      </td>
    </tr>
    <% }); } %>
  </table>

  <% if (totalPages > 1) { %>
  <!-- Pagination -->
  <div class="pagination">
    <!-- Previous -->
    <a href="?page=<%= currentPage - 1 %>" class="btn <%= currentPage === 1 ? 'disabled' : '' %>">
      Previous
    </a>

    <!-- Page Numbers -->
    <% for (let index = 1; index <= totalPages; index++) { %>
    <a href="?page=<%= index %>" class="btn <%= currentPage === index ? 'active': '' %>">
      <%= index %>
    </a>
    <% } %>

    <!-- Next -->
    <a
      href="?page=<%= currentPage + 1 %>"
      class="btn <%= currentPage === totalPages ? 'disabled' : '' %>"
    >
      Next
    </a>
  </div>
  <% } %>
</div>

<%- include('../partials/footer.ejs') %>
