<%- include('../partials/header') %>

<h2>Contact Details</h2>

<p><strong>First Name:</strong><%= contact.firstName %></p>
<p><strong>Last Name:</strong><%= contact.lastName %></p>
<p><strong>Mobile:</strong><%= contact.mobile %></p>
<p><strong>Address:</strong><%= contact.address %></p>

<%- include('../partials/footer') %>
